.card {
  max-width: 480px;
  width: 100%;
  min-height: 300px ;
  display: flex;
  flex-direction: row;
  background-color: #fff;
  border-radius: 8px;
}

.attribution {
  margin-top: 100px;
}


@media only screen and (max-width: 400px) {
  .card {
    display: flex;
    flex-direction: column;
    /* width: 100%; */
    width: 90%;
    margin: 0px 5%;
  }
  .attribution {
    margin-top: 20px;
  }
}